{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Appointment Form{% endblock %}

{% block body %}
  <h1>Appointment Form</h1>
  {% load crispy_forms_tags %}
  <div style="margin:auto;width:70%">
    <form method="POST" style="width:50%;margin:auto">
      {% csrf_token %} 
      {{form | crispy}}
      <input type="hidden" name="doctor" value="{{ doctor.username }}">
      <small><strong>Every appointment will be held for 45 min</strong></small>
      <br>
      <button class="btn btn-primary" type="submit">Book Appointment</button>
    </form>
  </div>
{% endblock %}
